table.roster-table {
  border-collapse: collapse;
  width: 100%;
  thead, tbody, td, th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  td, th {
    white-space: nowrap;
  }
  >tbody>tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  td.buttonCell{
    padding: 0px;
    height: 32px;
    width: 32px;
    button{
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }
  .date-row, .day-row {
    >th {
      font-weight: lighter;
    }
    >th.endOfLastMonth ~ th {
      font-weight: bold;
    }
    >th.endOfThisMonth ~ th {
      font-weight: lighter;
    }
    >th.endOfNextMonth {
      border-right: 2px solid #000000;
    }
  }
}

.error {
  background-color: red;
}

.orig-day-off {
  background-color: greenyellow;
}