table.roster-table {
  border-collapse: collapse;
  width: 100%;
  thead, tbody, td, th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  td, th {
    white-space: nowrap;
  }
  >tbody>tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  td.table-data {
    padding: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
  }
  td.buttonCell{
    @extend .table-data;
    button{
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }
  td.orig-day-off {
    background-color: lightgray;
  }
  .date-row, .day-row {
    >th {
      font-weight: bold;
    }
    >th.last-month {
      font-weight: lighter;
    }
    >th.this-month {
      font-weight: bold;
    }
    >th.next-month {
      font-weight: lighter;
      // border-left: 2px solid #000000;
    }
  }
}

.error {
  background-color: red;
}

.orig-day-off {
  background-color: greenyellow;
}