.app {
  height: 100%;
  padding: 0 20px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-item-origin-size {
  flex: 0 0;
}

.flex-item-expand-1 {
  flex: 1 1;
  height: 100%;
}

.step {
  @extend .flex-container-column;
}

.step .step-header, .step .step-footer {
  @extend .flex-item-origin-size;
}

.step .step-body {
  @extend .flex-item-expand-1;
}

.float-right {
  float: right;
}

.next-step, .last-step {
  @extend .float-right;
  padding: .75rem 1.25rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
  font-weight: bold;
  color: white;
  background-color: #2196F3;
  border-radius: .25rem;
  text-decoration: none;
}

.last-step {
  color: #1b1e21;
  background-color: #c6c8ca;
}
